DATABASE_URL="postgresql://neondb_owner:npg_vB5Vu7jXzNCU@ep-summer-firefly-b48x6kv6-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="6a576fd47556fc8d0b8d6844412507c264ef369384ad891c0614d2d5ed27f231"
NEXTAUTH_URL="http://localhost:3000